<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @await Html.PartialAsync("_Notifications")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
